.pinteblock-gradient {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-left: 8px;
    position: absolute;
    border-radius: 16px;
    width: calc(100% - 16px);
    height: calc(100% - 16px);
}
